# Required environment variables
GATEWAY_DOMAIN=

# Optional environment variables
# default: 100
MAX_RECONNECTION_ATTEMPTS=
# default: false
USE_WSS=
# default: 8080
PORT=
# default: development
IMAGE_TAG=
