# Required environment variables
NATS_URL=
API_KEYS=

GATEWAY_PRIVATE_KEY=
DISPATCHER_URL=
POCKET_NODE_URL=

PHD_BASE_URL=
PHD_API_KEY=

# Optional environment variables
# default: 100
RELAY_BATCH_SIZE=
# default: ./tmp/db
DB_PATH=
# default: 8100
PORT=
